.vitis-setting-field-view {
    margin-bottom: 10px;
    display: flex;

    .field-view-title {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;
    }

    .field-view-main {
        flex: 1;
    }

    .placeholder {
        color: #999;
    }
}