.vitis-workbench {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;

    .vitis-workbench-body {
        flex: 1;
        display: flex;
    }
}
